<div class="app-course-back">
    <button>
        <i
            class="fa fa-arrow-left"
            aria-hidden="true"
        ></i>
        Back to Courses
    </button>
</div>
<div class="app-course-detail">
    <div class="app-course-title">
        Angular 16 - Zero to Hero
    </div>
    <div>
        <img
            src="./images/angular.jpg"
            width="100%"
            height="350px"
        >
    </div>
    <div class="app-course-author-price">
        <div class="app-course-author">Jane Smith</div>
        <div class="app-course-price">$59.99</div>
    </div>
    <div class="app-course-description">
        While creating your own WYSIWYG editor in Angular is a fascinating and
        educational project, be prepared for a substantial time investment and a
        steep learning curve in browser content editing APIs. For most practical
        applications, integrating a well-maintained third-party library is the
        more efficient and reliable solution.
    </div>
    <div class="app-course-lessions">
        <i
            class="fa fa-play-circle-o"
            aria-hidden="true"
        ></i>
        <span>Lession 1: Introduction to Course</span>
    </div>
    <div class="app-course-lessions">
        <i
            class="fa fa-play-circle-o"
            aria-hidden="true"
        ></i>
        <span>Lession 2: How to navigate this Course</span>
    </div>
    <div class="app-course-lessions">
        <i
            class="fa fa-play-circle-o"
            aria-hidden="true"
        ></i>
        <span>Lession 3: Project Setup & Code Editor</span>
    </div>
    <div class="app-course-lessions">
        <i
            class="fa fa-play-circle-o"
            aria-hidden="true"
        ></i>
        <span>Lession 4: The "Hello, World" Project</span>
    </div>
</div>